* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  padding: 50px;
  background-color: rgb(228, 228, 228);
}

#root {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /* TODO: убрать визуализацию: */
  outline: 2px dashed red;
  text-align: center;
}
